/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    /* astuces pour reperer les elements qui depassent du cadre */

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    /*ajout de marge pour enlerver les marges générées automatiquement*/
    margin: 0;
    background-color: white;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    /*ajouts pour disposer les sections*/
    flex-flow: row wrap;
    width: 100%;
    gap: 25px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/*Ci dessous se trouve le code ajouté par Christopher*/

/* 👇 Header */

h1 {
    font-size: 22px;
}

.banniere {
    /*la bannière contient le logo et la barre de navigation*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

/*logo*/
.logo figure {
    margin: 30px 0;
}

.logo img {
    width: 61.09px;
    height: 19px;
}

/*barre de navigation*/

.navbar-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 69px;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.nav-links:hover {
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
    padding-top: 14px;
}

/*barre de recherche*/

.searchbar {
    height: 49px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 35px 0;
}

.searchbar-icon-container {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
}

.fa-location-dot {
    color: black;
    padding: 0 25px;

}

.searchbar-input {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px var(--main-bg-color);
    width: 195px;
}

.searchbar input::placeholder {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.searchbar button {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    background-color: var(--main-color);
    border: none;
    border-radius: 0 15px 15px 0;
    color: var(--main-bg-color);
}

.searchbar-button-text {
    font-weight: 700;
    font-size: 18px;
    padding: 0 16px;
}

.fa-search {
    display: none;
}






/* 👇 Main */


/*Filtres*/
.filtres {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    align-items: center;
    margin: 0;
}

.filtres-content {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.filtres button {
    display: flex;
    flex-flow: row wrap;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding: 15px 19px;
    background-color: white;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
}

.filtres button:hover {
    background-color: var(--filter-bg-color);
}


/*info*/
.info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    margin: 37.5px 0;
}

.info-text {
    margin: 0;
}

i.fa-info {
    font-size: 10px;
}

.info-circle {
    width: 20px;
    height: 20px;
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    border: solid 1px #d9d9d9;
    border-radius: 100px;
}

/*Section hébergements*/

.hebergements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.hebergements .card-links {
    width: 29%;
    height: 220px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.hebergements-title,
.hebergements-subtitle,
.hebergements .card-title,
.hebergements .card-subtitle {
    margin: 0;
}

.hebergements .card-title {
    font-size: 16px;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 26px;
}

.hebergements .card-links {
    flex: 1 1 30%;
}

.hebergements-cards .card {
    width: 100%;
}

.hebergements img {
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.hebergements .card-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0 10px;
    height: 90px;
}

.hebergements .card-text {
    display: flex;
    flex-flow: column wrap;
    margin-top: 0;
}


/* Section activités*/

.activites {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.activites-title {
    padding: 10px 0 0 30px;
}

.activites .activites-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}


.activites .card-links {
    flex: 1 1 1px;
}

.activites .card {
    width: 100%;
    padding: 0;
}

.activites img {
    border-radius: 20px 20px 0px 0px;
    height: 380px;
    width: 100%;
}

.activites .card-title {
    padding: 20px;
    margin: 0;
    height: 60px;
}








/* 👇 FOOTER */

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    background-color: var(--main-bg-color);
}

.footer-containers {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 0;
}

.footer-titles {
    margin: 0;
}

.footer-ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    gap: 15px;
    padding: 20px;
    margin: 0;
}




/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.97px) and (max-width: 1024px) {

    .main-container .hebergements-and-populaires {
        display: flex;
        flex-flow: column wrap;
    }

    /* filtres */

    .filtres {
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: start;
    }

    .filtres-content {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }

    .filtres-buttonsText {
        font-size: medium;
    }


    /* hebergements */

    .main-container .hebergements-and-populaires .hebergements {
        width: 100%;
    }

    .main-container .hebergements .hebergements-cards {
        display: flex;
        flex-flow: row wrap;
    }

    .hebergements-and-populaires .hebergements .hebergements-cards .card {
        flex: 1 1 30%;
    }


    /* populaires */

    .populaires {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .populaires-cards {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 15px;
    }

    .card-links {
        flex: 1 1 1%;
    }


    /* activites */


    .activites img {
        height: 200px;
    }

    .activites .card-title {
        font-size: 12px;
        height: 50px;
        padding: 5px 10px;
    }

}





/* Small devices (phones, less than 768px) */




@media (max-width: 767.98px) {

    .searchbar button i {
        display: flex;
        place-content: center;
    }

    body,
    .main-container {
        padding: 0;
    }

    /* 👇 HEAD */
    /* bannière */

    .banniere {
        display: flex;
        flex-flow: column wrap;
    }

    /* logo */

    .logo {
        display: flex;
        justify-content: center;
    }

    /* barre de navigation*/

    .banniere .navbar .navbar-ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        gap: 0;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .navbar .navbar-ul .navbar-li {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        flex: 1 1 1px;
        border-bottom: solid 2px var(--main-bg-color);
        padding: 0 0 15px 0;
    }

    .navbar .navbar-ul .navbar-li:hover {
        border-bottom: solid 2px var(--main-color);
    }

    .navbar .navbar-ul .navbar-li:focus,
    .navbar .navbar-ul .navbar-li:active {
        border-bottom: solid 2px var(--main-color);
    }

    /* effets en interaction*/

    .navbar .navbar-ul .nav-links:hover {
        border-top: none;
        padding: 0;
    }

    .navbar .navbar-ul .nav-links:active,
    .navbar .navbar-ul .nav-links:focus {
        border-top: none;
        padding: 0;
    }


    /*--------------------------------------*/

    /* 👇 MAIN */

    .main-container h1,
    .main-container h1+p {
        padding: 0 20px;
    }

    /* barre de recherche */

    .main-container .searchbar {
        display: flex;
        margin-bottom: 15px;
    }

    .searchbar-icon-container {
        flex: 0 1 auto;
        position: relative;
        left: 20px;
    }

    .fa-search {
        padding: 14px 18px;
    }

    .searchbar input {
        flex: 1 1 auto;
        border: solid 2px var(--main-bg-color);
        z-index: -1;
        position: relative;
        left: 20px;
    }

    .searchbar button {
        padding: 0;
        flex: 0 1 auto;
        border-radius: 15px;
        position: relative;
        right: 20px;
    }

    .searchbar-button-text {
        display: none;
        margin: 0;
    }

    .fa-search {
        display: flex;
        flex-flow: row wrap;
        place-content: center;
        background-color: var(--main-color);
        border: none;
        border-radius: 0 15px 15px 0;
        color: var(--main-bg-color);
    }

    .fa-search {
        border-radius: 15px;
    }

    /*Filtres*/

    .filtres {
        padding: 20px;
        display: flex;
    }

    .main-container .filtres-title {
        margin: 0;
        display: flex;
    }

    .filtres-content {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
    }

    .filtres-buttonsText {
        font-size: small;
    }

    .filtres .filtres-buttons {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        flex-basis: 47%;
    }

    .filtres button:active {
        background-color: var(--filter-bg-color);
    }


    /*info*/

    .main-container .info {
        display: flex;
        flex-flow: row nowrap;
        padding: 20px;
        margin: 0 0 15px 0;
    }

    .main-container .info .info-text {
        display: flex;
        flex-flow: row wrap;
    }

    /*herbergements et populaires*/

    .main-container .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 15px;
        padding: 0;
        margin: 0;
    }

    /*populaires*/

    .main-container .hebergements-and-populaires .populaires {
        display: flex;
        flex-flow: column wrap;
        padding: 30px 20px;
        border-radius: 0;
        width: 100%;
        gap: 15px;
        margin: 0;
    }

    .main-container .populaires .populaires-title {
        margin-bottom: 15px;
    }

    .main-container .populaires .card-links {
        display: flex;
        flex-flow: column wrap;
        flex: 1 1 1%;
    }

    .main-container .populaires .populaires-cards {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        margin: 0;
    }

    .main-container .populaires .populaires-cards .card {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 15px;

        margin: 0;
    }

    .main-container .populaires .populaires-cards .card {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        padding: 5px;
    }

    .main-container .populaires .card-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        flex: 1 1 0;
        padding: 10px 0 5px 0;
    }

    .main-container .populaires .card-txt {
        display: flex;
        flex-flow: column wrap;
        align-items: start;
        gap: 5px;
    }

    .main-container .populaires .card-title {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        font-size: 16px;
    }

    .main-container .populaires .card-subtitle {
        font-size: 14px;
    }

    .main-container .populaires .card-rating {
        display: flex;
        object-position: 50% bottom;
    }

    .card-rating .fa-star {
        display: flex;
    }


    /*hebergements*/

    .main-container .hebergements,
    .main-container .hebergements .hebergements-cards,
    .main-container .hebergements .hebergements-cards .card-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        padding: 0;
        background-color: transparent;
    }

    .main-container .hebergements-and-populaires .hebergements,
    .main-container .activites {
        padding: 35px 20px;
    }

    .main-container .hebergements .card-title {
        font-size: 16px;
    }

    /*activites*/

    .main-container .activites,
    .main-container .activites .card-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        margin: 0;
    }

    .main-container .activites .activites-cards {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
    }


    .main-container .activites-cards img {
        height: 141px;
    }

    /*--------------------------------------*/

    /* 👇 FOOTER */

    footer {
        margin-top: 30px;
    }

    .footer-containers {
        display: flex;
        justify-content: start;
        padding: 30px;
    }

    .footer-ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0;
        margin: 0;
    }



    /* affichage large desktop*/
    @media (min-width: 1440px) {
        body {
            display: flex;
            justify-content: center;
        }
    }








    
}