/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/*Ci dessous se trouve le code ajouté par Christopher*/

/* 👇 Header */

h1 {
    font-size: 22px;
}

.banniere {
    /*la bannière contient le logo et la barre de navigation*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

/*logo*/
.logo figure {
    margin: 30px 0;
}

.logo img {
    width: 61.09px;
    height: 19px;
}

/*barre de navigation*/
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 69px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.navbar a:hover {
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
    padding-top: 14px;

}

/*barre de recherche*/
.searchbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: center;
    width: 377px;
    height: 49px;
    gap: 0;
    margin-top: 35px;
}

.searchbar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.fa-location-dot {
    color: black;
}

.searchbar input {
    width: 195px;
    height: 100%;
    border: solid 1px var(--main-bg-color);
}

.searchbar input::placeholder {
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.searchbar button {
    width: 132px;
    height: 100%;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    font-weight: 700;
    font-size: 18px;
}









/* 👇 Main */

/*Filtres*/
.filtres {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 50px;
    margin-top: 35px;
}

.filtres-content {
    display: flex;
    gap: 15px;
    height: 100%;
}

.filtres button {
    display: flex;
    flex-flow: row wrap;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding: 15px 19px;
    background-color: white;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
}

.filtres button:hover {
    background-color: var(--filter-bg-color);
}


/*info*/
.info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    margin: 37.5px 0;
}

.info-circle {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    border: solid 1px #d9d9d9;
    border-radius: 100px;
}

/*Section hébergements*/
.hebergements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.hebergements-title,
.hebergements-subtitle,
.hebergements .card-title,
.hebergements .card-subtitle {
    margin: 0;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 30px;

}

.hebergements-cards .card {
    width: 29%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

}

.hebergements img {
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.hebergements .card-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 8px;
    margin: 4px 10px 10px 10px;
}

.card-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 8px;
    margin-top: 4px;

}













/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 25%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}