/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    /*ajout de marge pour enlerver les marges générées automatiquement*/
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    /*ajouts pour disposer les sections*/
    flex-flow: row wrap;
    width: 100%;
    gap: 25px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/*Ci dessous se trouve le code ajouté par Christopher*/

/* 👇 Header */

h1 {
    font-size: 22px;
}

.banniere {
    /*la bannière contient le logo et la barre de navigation*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

/*logo*/
.logo figure {
    margin: 30px 0;
}

.logo img {
    width: 61.09px;
    height: 19px;
}

/*barre de navigation*/
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 69px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.nav-links:hover {
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
    padding-top: 14px;
}

/*barre de recherche*/

.searchbar {
    height: 49px;
    display: flex;
    gap: 0;
    margin: 35px 0;
}

.searchbar-icon-container {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
}

.fa-location-dot {
    color: black;
    padding: 14px 18px;
}

.searchbar input {
    width: 196px;
    border: solid 1px var(--main-bg-color);
}

.searchbar input::placeholder {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.searchbar button {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    background-color: var(--main-color);
    border: none;
    border-radius: 0 15px 15px 0;
    color: var(--main-bg-color);
}

.searchbar-button-text {
    font-weight: 700;
    font-size: 18px;
    padding: 0 16px;
}

.fa-search {
    display: none;
}






/* 👇 Main */

/*Filtres*/
.filtres {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    align-items: center;
    margin: 0;
}

.filtres-content {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.filtres button {
    display: flex;
    flex-flow: row wrap;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding: 15px 19px;
    background-color: white;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
}

.filtres button:hover {
    background-color: var(--filter-bg-color);
}


/*info*/
.info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    margin: 37.5px 0;
}

.info-text {
    margin: 0;
}

i.fa-info {
    font-size: 10px;
}

.info-circle {
    width: 24px;
    height: 24px;
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    border: solid 1px #d9d9d9;
    border-radius: 100px;
}

/*Section hébergements*/
.hebergements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.hebergements a {
    width: 29%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.hebergements-title,
.hebergements-subtitle,
.hebergements .card-title,
.hebergements .card-subtitle {
    margin: 0;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 26px;

}

.hebergements-cards .card {
    width: 100%;
}

.hebergements img {
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.hebergements .card-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 8px;
    margin: 4px 10px 10px 10px;
}

.card-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 8px;
    margin-top: 4px;
}



/* Section activités*/

main .activites {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0px;
    margin: 40px 0;
}

.activites-title {
    display: block;
    margin: 30px 0;
    padding: 0;
}

.activites .activites-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 25px;
}

.activites a {
    width: 20%;
}

.activites .card {
    width: 100%;
    padding: 0;
}

.activites img {
    border-radius: 20px 20px 0px 0px;
    height: 380px;
    width: 100%;
}

.activites .card-title {
    padding: 20px;
    margin: 0;
}








/* 👇 FOOTER */

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    background-color: var(--main-bg-color);
}

.footer-containers {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 0;
}

.footer-titles {
    margin: 0;
}

.footer-lists {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    gap: 15px;
    padding: 20px;
    margin: 0;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 25%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .searchbar button i {
        display: flex;
        place-content: center;
    }

    body,
    .main-container {
        padding: 0;
    }

    /* 👇 HEAD */
    /* bannière */

    .banniere {
        display: flex;
        flex-flow: column wrap;
    }

    /* logo */

    .logo {
        display: flex;
        justify-content: center;
    }

    /* barre de navigation*/

    nav {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
    }

    .navbar {
        flex: 1 1 auto;
        flex-flow: row wrap;
        justify-content: start;
    }

    .navbar,
    .navbar-ul,
    .navbar-li {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar .nav-links {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        padding: 0 0 15px 0;
        border-top: none;
        border-bottom: solid 2px var(--main-bg-color);
    }

    /* barre de recherche */

    .searchbar {
        width: 100%;
        display: flex;
    }

    .searchbar-icon-container {
        flex: 0 1 auto;
    }

    .fa-search {
        padding: 14px 18px;
    }

    .searchbar input {
        flex: 1 1 auto;
    }

    .searchbar button {
        padding: 0;
    }

    .searchbar-button-text {
        display: none;
    }

    .fa-search {
        display: flex;
        flex-flow: row wrap;
        place-content: center;
        background-color: var(--main-color);
        border: none;
        border-radius: 0 15px 15px 0;
        color: var(--main-bg-color);
    }

    .searchbar button {
        flex: 0 1 auto;
    }

    /*--------------------------------------*/

    /* 👇 MAIN */

    main {
        box-sizing: border-box;
        padding: 0 20px;
    }

    .main-container .populaires,
    .main-container .populaires .populaires-cards,
    .main-container .populaires .populaires-cards .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        
    }

    .main-container .populaires .populaires-cards .card img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    /*activites*/

    .main-container .activites,
    .main-container .activites .activites-cards,
    .main-container .activites .activites-cards .card-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }

    .activites-cards img {
        height: 141px;
    }

    /*--------------------------------------*/

    /* 👇 FOOTER */






    /* affichage large desktop*/
    @media (min-width: 1440px) {
        body {
            display: flex;
            justify-content: center;
        }
    }









}